@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');
$Main-font: 'Josefin Sans', sans-serif;

$Branco: #FFFFFF;
$Cinza: #CDCDC3;

$Preto: #080808;
$PretoClaro: #212121;

$Creme: #CAA45D;
$Ouro: #CC922E;

$Azul: #0A2749;
$AzulEscuro: #0F1F2F;

$Vermelho: #E62633;
$VermelhoEscuro: #CC101D;
